<div id="coccoc-alo-phone-wrapper">
    <a href="tel:0906313957" id="coccoc-alo-phoneIcon" class="coccoc-alo-phone coccoc-alo-green coccoc-alo-show"
       style="position: fixed; right: 0px; bottom: 0px; display: block; transform: scale(1, 1); transform-origin: left top 0px;">
        <div class="coccoc-alo-ph-circle-time"><img id="coccoc-alo-external-site-favicon"/> <span
                id="coccoc-alo-external-site-counter"></span></div>
        <canvas id="stopwatch"></canvas>
        <div class="coccoc-alo-ph-circle">&nbsp;</div>
        <div class="coccoc-alo-ph-circle-fill">&nbsp;</div>
        <div class="coccoc-alo-ph-img-circle coccoc-alo-ph-circle-shake">&nbsp;</div>
        <div class="coccoc-alo-ph-circle-close">&nbsp;</div>
        <span class="phone_text">Call: 0906.31.39.57</span>
    </a>
</div>
