.elementor-post-wrapper .hide_category .entry-header {
    display: none;
}
#coccoc-alo-phone-wrapper .coccoc-alo-phone {
    width: 160px;
    height: 160px;
}
#coccoc-alo-phone-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 0;
    height: 0;
    z-index: 2147483647;
}
#coccoc-alo-phone-wrapper .coccoc-alo-ph-circle {
    width: 80px;
    height: 80px;
    top: 60px;
    left: 60px;
}
#coccoc-alo-phone-wrapper .coccoc-alo-ph-circle-fill {
    width: 60px;
    height: 60px;
    top: 70px;
    left: 70px;
}
#coccoc-alo-phone-wrapper .coccoc-alo-ph-img-circle {
    width: 40px;
    height: 40px;
    background-size: 20px;
    top: 80px;
    left: 80px;
}
#coccoc-alo-phoneIcon .phone_text {
    position: absolute;
    bottom: 10px;
    left: 47px;
    background: #ffe800;
    color: #000;
    padding: 0 5px;
    border-radius: 4px;
    font-size: 10px;
}
.homepage-display-only {
    display: none;
}
.home .homepage-display-only {
    display: block;
}
