.elementor-post-wrapper .hide_category .entry-header {
    display: none;
}
#coccoc-alo-phone-wrapper .coccoc-alo-phone {
    width: 160px;
    height: 160px;
}
#coccoc-alo-phone-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 0;
    height: 0;
    z-index: 2147483647;
}
#coccoc-alo-phone-wrapper .coccoc-alo-ph-circle {
    width: 120px;
    height: 120px;
    top: 35px;
    left: 35px;
}
#coccoc-alo-phone-wrapper .coccoc-alo-ph-circle-fill {
    width: 90px;
    height: 90px;
}
#coccoc-alo-phone-wrapper .coccoc-alo-ph-img-circle {
    width: 50px;
    height: 50px;
}
#coccoc-alo-phoneIcon .phone_text {
    position: absolute;
    bottom: 5px;
    left: 45px;
    background: #ffe800;
    color: #000;
    padding: 0 5px;
    border-radius: 4px;
    font-size: 10px;
}
